.sidebar {
  width: 250px;
  background: var(--bg-color);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(200, 200, 200, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.sidebar h3 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

.menu-list,
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li,
.sidebar ul li {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.menu-list li:hover,
.sidebar ul li:hover {
  background: var(--bg-color);
  transform: translateX(3px);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.btn{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

