* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Roboto, sans-serif;
}


.app {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 25px;
  background: var(--bg-color);
  border-radius: 16px;
  margin: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.app.light {
  --bg-color: whitesmoke;
  --text-color: #000000;
  --header-bg: #f5f5f5;
  --card-bg: #fdfdfd;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.app.dark {
   --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --header-bg: #333333;
  --card-bg: #2a2a2a;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: var(--header-bg);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  margin-left: 15px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
